﻿@using HomeInventory.Helper
@model HomeInventory.Models.HomeItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.When)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.When)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                @Html.GetThumbnail(Model.Photo)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomeItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
