﻿@using HomeInventory.Helper
@model IEnumerable<HomeInventory.Models.HomeItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-controller="Inventories" asp-action="Index" method="post">
    <p>
            <input type="text" name="searchInput" style="border-radius: 5px" placeholder="Description" value="@ViewBag.searchInput"/>
            <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new {sortOrder = "Description", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.searchInput })
            @Html.GetArrow((string)ViewBag.sortOrder, "Description", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = "Location", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.searchInput })
            @Html.GetArrow((string)ViewBag.sortOrder, "Location", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = "Model", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.searchInput })
            @Html.GetArrow((string)ViewBag.sortOrder, "Model", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Serial Number", "Index", new { sortOrder = "Serial Number", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.searchInput })
            @Html.GetArrow((string)ViewBag.sortOrder, "Serial Number", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseInfoId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                    @Html.GetThumbnail(item.Photo, 100, 100)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.PurchaseInfoId)
                @Html.Partial("IndexPartial", item.PurchaseInfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HomeItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HomeItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HomeItemId })
            </td>
        </tr>
    }
</table>