﻿@model HomeInventory.Models.PurchaseInfo

<table>
    <tr>
        <td width="150" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.When)
        </td>
        <td width="150">
            @Html.DisplayFor(model => model.When)
        </td>
    </tr>
    <tr>
        <td width="150" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Where)
        </td>
        <td width="150">
            @Html.DisplayFor(model => model.Where)
        </td>
    </tr>
    <tr>
        <td width="150" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Warranty)
        </td>
        <td width="150">
            @Html.DisplayFor(model => model.Warranty)
        </td>
    </tr>
    <tr>
        <td width="150" style="font-weight:bold">
            @Html.DisplayNameFor(model => model.Price)
        </td>
        <td width="150">
            @Html.DisplayFor(model => model.Price)
        </td>
    </tr>
</table>